@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebdde0;
}
.container{
    width: 60rem;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.chate-liste{
    width: 40%;
    height: 100%;
    background: rgb(13, 10, 26)    ;
    display: flex;
    flex-direction: column;
    position: relative;
}
.chate{
    width: 95%;
    height: 100%;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    background: black;

}
.m-info{
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-info .avatar{
margin-left: 10px;
}
.p-info{
    position: absolute;
    right: 15%;
    color:#fff;
}
.p-info h3{
    font-weight: 100;
}
.p-info span{
    font-size: 15px;
    color: rgb(233,233,233);
}
.icon{
    position: relative;
    margin-right: 10px;
    color: rgb(21, 207, 240);
}
.icon i{
    position: absolute;
    bottom: 30px;
    right: -35%;
    color: rgb(92, 2, 84);
    cursor: pointer;

}
.search-box{
    width: 90%;
    height: 1rem;
    display: flex;
    margin: 1rem;
    align-items: center;

}
.search-box i{
margin-right: 20px;
color: rgb(143, 135, 135);
font-size: 14px;
}
.search-box input{
    font-size: 16px;
    width: 70%;
    background: none;
    outline: none;
    border: none;
    color: rgb(233,233,233);

}
.search-box input::placeholder{
    color:  rgb(199, 199, 199);
}
.ms-a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
}
.ms-a .avatar{
    margin-left: 5px;
    margin-right: 10px;
}
.mesg-info{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.ms-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sender-name{
    color: #fff;
    letter-spacing: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.time{
    color: #a5a5a5;
    font-size: 14px;
    margin-right: 20px;
}
.time span{
    color: black;
    border-radius: 100%;
    margin: 10px;
}
.action span{
    font-size: 12px;
    color:#a5a5a5;
}
.ms-active{
    padding: 0px 5px;
    background: #f8f403;
    border-radius: 100%;
    font-size: 10px;
}
.new-chate{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 18px;
    border-bottom: rgb(24, 24, 143);
    
    
}
.new-chate span{
    font-size: 1.5rem;
    color: rgb(161, 142, 142);
    margin-left: 40px;
}
.chat-active{
    background:#4c318a ;
}
.last-chate{
    opacity: .5;
}


.chate-header{
    width: 100%;
    height: 7.4vh;
    background: rgb(31, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(29, 25, 25);
}
.header-content2{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;   
}
.header-content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;    
}
.sender-action{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sender-action h3{
    font-weight: 100;
    color: white;
    letter-spacing: 1px;
}
.sender-action span{
    font-size: 15px;
    color: #ececec;
}
.icons i{
    color: #c9c9fd;
    font-size: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.chate-body{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.message-sender, .message-recever{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.message-sender{
    flex-direction: row-reverse;
}
.message-sender-message{
    height: auto;
    width: 50%;
    margin-right: 1rem;
    background: rgb(54, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.message-sender-message p{
    padding: 10px;
    font-size: .8rem;
    text-align: left;
}
.message-sender-icon{
    margin-right: 15px;
    color: #34debb;
    font-size: 12px;
}
.message-sender-avatar {
    margin-right: 17px;
}
.messag-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.message-box-aria{
    width: 49%;
    height: 14vh;
    background: rgb(29, 14, 14);
    position: absolute;
    top: 83%;

    margin-left: -32px;
}
.message-box-aria input{
    width: 90%;
    height: 4rem;
    border: none;
    outline: none;
    background: none;
    margin-left: 20px;
    color: white;
}
.message-box-aria input::placeholder{
    color: gray;
}
.message-box-aria i{
    color: white;
    cursor: pointer;
    padding-left: 0.2em;
    
}

.act-v{
    padding: 0px 7px;
    background: rgb(29, 197, 57);
    border-radius: 100%;
    font-size: 10px;
    margin-left: -10px;
}

.act-o{
    padding: 0px 7px;
    background: rgb(241, 37, 81);
    border-radius: 100%;
    font-size: 10px;
    margin-left: -10px;
}


